body{
    overflow-x: hidden;
}

#bottom-to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0004ff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition:linear .3s;
  }
  #bottom-to-top:hover{
    background-color: #01e0e7;
    color: black;
  }
/*-------------- nav-bar */
.parent{
    background: #0114fb !important;
}
.logo{
    color: white !important;
    font-size: 23px !important;
    font-weight: 800px !important;
}
.nav-ber ul li a{
     color: white !important;
     position: relative !important;
     
}
.nav-ber ul li a::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 10px;
    left: 5px;
    transition: linear .3s;
}
.nav-ber ul li a:hover::after{
     background:#01e0e7 ; 
    width: 80%;
}
.nav-ber ul li a:hover{
    color: #01e0e7 !important;
}

/*-------------- home */
.home-section{
    height:500px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 54, 54, 0.212),rgba(41, 214, 245, 0.233)),url(images/home.jpg);
    background-size: cover;
    position: relative;
}
.home-section h1{
    font-size: 50px;
    display: flex;
    position: absolute;
    top:200px;
    left: 60px;
    overflow: hidden;
    font-weight: 900;
    font-family: "roboto";
}
.home-section h1 p{
    font-size: 40px;
    font-family: "roboto";
    color: #0004ff;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 5px;
}
.home-section span{
    font-size: 22px;
    position: absolute;
    top: 270px;
    left: 65px;
    color: rgb(51, 51, 51);
}
.home-section a{
    text-decoration: none;
    padding:12px 20px;
    background: #0004ff;
    position: absolute;
    bottom: 120px;
    left: 65px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
.home-icon{
    height: 85px;
    width: 231px;
    position: relative;
    top: 310px;
    left: 194px;
    cursor: pointer;
}
.home-icon:hover i{
    color: #245aeed3;
}
.home-icon:hover a{
    color: #245aeed3 !important;
}
.home-icon i{
    font-size:45px;
    color: #0004ff;
    position: absolute;
    top: 20px;
    left: 5px;
    transition: linear .4s;
    font-weight: 100 !important; 
}
.home-icon a{
    text-decoration: none !important;
    font-size: 23px !important;
    position: absolute !important;
    top: 15px !important;
    left: 32px !important;
    transition: linear .4s !important;
    background: none !important;
    color: blue !important;
}
/*---- home-box-section */
.home-box{
    height: 307px;
    width: 1000px;
    position: relative;
    bottom: 1px;
    display: flex;
    justify-content: center;
}
.home-box1{
    height: 250px;
    width: 200px;
    background: #ebebeb;
    position: absolute;
    top: 30px;
    left: 70px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px  black;
}
.home-box1 i{
    font-size: 45px;
    position: relative;
    top: 20px;
    left: 30px;
    color: #0004ff;
    font-weight: 900;
    transition: linear .4s;
}
 .home-box1:hover i{
    color: #fff;
 }  
.home-box1 span{
    font-size: 20px !important;
    position: absolute !important;
    top: 80px !important;
    left: 30px!important;
    color:black !important;
    font-weight: 500 !important;
    transition: linear .4s;
}
.home-box1:hover span{
    color: #fff !important;
}
.home-box1 p{
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 75px;
    transition: linear .4s;
}
.home-box1:hover p{
    color: #fff !important;
   
}
.home-box1::before{
    content: "";
    height: 0;
    width: 100%;
    background: #0004ff;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    transition: linear .3s;
    cursor: pointer;
}
.home-box1:hover::before{
    height:100%;
}
.home-box2{
    height: 250px;
    width: 200px;
    background: #ebebeb;   
    position: absolute;
    top: 30px;
    left: 295px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px  black;
}
.home-box2 i{
    font-size: 45px;
    position: relative;
    top: 20px;
    left: 30px;
    color: #0004ff;
    font-weight: 900;
    transition: linear .4s;
}
.home-box2:hover i{
    color: #fff !important;
   
}
.home-box2 span{
    font-size: 20px !important;
    position: absolute !important;
    top: 80px !important;
    left: 30px!important;
    color:black !important;
    transition: linear .4s;
    font-weight: 500 !important;
}
.home-box2:hover span{
    color: #fff !important;
   
}
.home-box2 p{
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 75px;
    transition: linear .4s;
}
.home-box2:hover p{
    color: #fff !important;
   
}
.home-box2::before{
    content: "";
    height: 0;
    width: 100%;
    background: #0004ff;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    transition: linear .3s;
    cursor: pointer;
}
.home-box2:hover::before{
    height:100%;
}

.home-box3{
    height: 250px;
    width: 200px;
    background: #ebebeb;
    position: absolute;
    top: 30px;
    left: 515px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px  black;
}
.home-box3 i{
    font-size: 45px;
    position: relative;
    top: 20px;
    left: 30px;
    color: #0004ff;
    font-weight: 900;
    transition: linear .4s;
}
.home-box3:hover i{
    color: #fff !important;
}
.home-box3 span{
    font-size: 20px !important;
    position: absolute !important;
    top: 80px !important;
    left: 30px!important;
    color:black !important;
    font-weight: 500 !important;
    transition: linear .4s;
}
.home-box3:hover span{
    color: #fff !important;
   
}
.home-box3 p{
  font-size: 16px;
    text-align: center;
    position: relative;
    top: 75px;
    transition:  linear .4s;
}
.home-box3:hover p{
    color: #fff !important;
   
}
.home-box3::before{
    content: "";
    height: 0;
    width: 100%;
    background: #0004ff;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    transition: linear .3s;
    cursor: pointer;
}
.home-box3:hover::before{
    height:100%;
}
.home-box4{
    height: 250px;
    width: 200px;
    background: #ebebeb;
    position: absolute;
    top: 30px;
    left: 740px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px  black;
}
.home-box4 i{
    font-size: 45px;
    position: relative;
    top: 20px;
    left: 30px;
    color: #0004ff;
    font-weight: 900;
    transition: linear .4s;
}
.home-box4:hover i{
    color: #fff !important;
   
}
.home-box4 span{
    font-size: 20px !important;
    position: absolute !important;
    top: 80px !important;
    left: 30px!important;
    color:black !important;
    font-weight: 500 !important;
    transition: linear .4s;
}
.home-box4:hover span{
    color: #fff !important;
   
}
.home-box4 p{
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 75px;
    transition: linear .4s;
}
.home-box4:hover p{
    color: #fff !important;
   
}
.home-box4::before{
    content: "";
    height: 0;
    width: 100%;
    background: #0004ff;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    transition: linear .3s;
    cursor: pointer;
}
.home-box4:hover::before{
    height:100%;
}
/*----------- about -------------*/
#about{
    margin-top: 0px;
    background: #e1e8e8;
    height: 750px;
    position: relative;
}
#about span{
    font-size: 15px;
    color: #0004ff;
    padding: 8px 20px;
    text-align: center;
    background-color: #8ca4e0a1;
    position: relative;
    top: 35px;
    left: 45%;
    font-weight: 700;
    border-radius: 26px;
    font-family: "Roboto", sans-serif;
}
#about h1{
    font-size: 30px;
    position: absolute;
    top: 77px;
    left: 335px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
#about h1 a{
    color: #0004ff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
#about p{
    color: #000000af !important;
    font-size: 17px;
    text-align: center;
    margin-top: 100px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.about-parent{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.about-child1 {
  height: 450px;
  width: 45%;
  margin-left: 20px;
}
.about-child1 img{
    height: 100%;
    width: 100%; 
  }
  .about-child2{
    height: 450px;
    width: 55%;
    position: relative;
  }
.about-child2 b{
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
} 
.about-child2 span{
    font-size:17px !important;
    position: absolute !important;
    top: 115px !important;
    left: 25px !important;
    background:none !important;
    padding: 0 !important;
    color: #000000af !important;
    text-align: left !important;
    font-style: italic !important;
    font-weight: 100 !important;
}
.about-details{
    height: 134px;
    width: 43%;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 57px;
    right: 73px;
    float: right;
}
.about-details b{
    position:absolute;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  color: #000000da;
}
.about-child2-box{
    height: 200px;
    margin-top: 150px;
    position: relative;
}
.about-box1{
    height: 100px;
    margin-top: 185px ;
}
.about-box1 i{
    font-size: 21px;
    padding: 30px 25px;
    border-radius: 50%;
    background: #ffffff;
    color: #0004ff;
    position: absolute;
    left: 15px;
    box-shadow: -1px 0px 7px 1px  black ;
}
.about-box1 h2{
    font-size: 18px;
    position: absolute;
    top: 13px;
    left: 100px;
}
.about-box1 span{
    font-size: 14px !important;
    background: none !important;
    color: #000000af !important;
    position: absolute !important;
    top: 45px !important;
    left: 100px !important;
    font-family: "roboto",sans-serif !important;
    font-weight: 100 !important;
    text-align: left !important;
}
.about-box2 i{
    font-size: 19px;
    padding: 30px 25px;
    border-radius: 50%;
    background: #ffffff;
    color: #0004ff;
    position: absolute;
    left: 15px;
    margin-top: 15px;
    box-shadow: -1px 0px 7px 1px  black ;
}
.about-box2 h2{
    font-size: 18px;
    position: absolute;
    top: 125px;
    left: 100px;
}
.about-box2 span{
    font-size: 14px !important;
    background: none !important;
    color: #000000af !important;
    position: absolute !important;
    top: 155px !important;
    left: 100px !important;
    font-family: "roboto",sans-serif !important;
    font-weight: 100 !important;
    text-align: left !important;

}
/*------- SKILL ----------*/

#skills-section{
    position: relative;
    background: #ececec;
}
#skills-section span{
    font-size: 15px;
    color: #0004ff;
    padding: 8px 20px;
    text-align: center;
    background-color: #8ca4e0a1;
    position: relative;
    top: 35px;
    left: 45%;
    font-weight: 700;
    border-radius: 26px;
    font-family: "Roboto", sans-serif;
}
#skills-section h2{
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 370px;
    width: 300px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
#skills-section h2 a{
    color: #0004ff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
#skills-section p{
    color: #000000af !important;
    font-size: 17px;
    width: 512px;
    text-align: center;
    margin-top: 55px;
    margin-left: 25.5%;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    line-height:25px;
}
.skill-box{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.skill-box1{
    height: 120px;
    width: 150px;
    background: #dbe9ff;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: -1px 1px 8px 0px black;
}
.skill-box1 i{
    font-size: 25px;
    padding: 17px;
    background: #0004ff;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 0px;
    left: 95px;
}
.skill-box1 h1{
    font-size: 35px;
    position: absolute;
    top: 67px;
    left: 93px;
}
.skill-box1 p{
    font-size: 19px !important;
    position: absolute;
    top: 58px;
    right: 625px;
    font-weight: 100 !important;
}
.skill-box2{
    height: 120px;
    width: 150px;
    background: #dbe9ff;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: -1px 1px 8px 0px black;
 
}
.skill-box2 i{
    font-size: 25px;
    padding: 17px;
    background: #0004ff;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 0px;
    left: 350px;
}
.skill-box2 h1{
    font-size: 35px;
    position: absolute;
    top: 67px;
    left: 350px;
}
.skill-box2 p{
    font-size: 19px !important;
    position: absolute;
    top: 58px;
    right: 375px;
    font-weight: 100 !important;
}
.skill-box3{
    height: 120px;
    width: 150px;
    background: #dbe9ff;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: -1px 1px 8px 0px black;
}
.skill-box3 i{
    font-size: 25px;
    padding: 17px;
    background: #0004ff;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 0px;
    right: 350px;
}
.skill-box3 h1{
    font-size: 35px;
    position: absolute;
    top: 65px;
    right: 342px;
}
.skill-box3 p{
    width: 100px !important;
    font-size: 18px !important;
    position: absolute;
    top: 48px;
    right: 325px;
    font-weight: 100 !important;
}
.skill-box4{
    height: 120px;
    width: 150px;
    background: #dbe9ff;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: -1px 1px 8px 0px black;
}
.skill-box4 i{
    font-size: 25px;
    padding: 17px;
    background: #0004ff;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 0px;
    right: 95px;
}
.skill-box4 h1{
    font-size: 35px;
    position: absolute;
    top: 67px;
    right: 110px;
}
.skill-box4 p{
    font-size: 18px !important;
    position: absolute;
    top: 56px;
    right:-132px;
    font-weight: 100 !important;
}
#progress-bar-box{
    height: 245px;
    display: flex !important;
    flex-direction: row !important;
    background: none !important;
    position: relative !important;
}
.progress-box{
           height: 300px;
           width: 50%;
           position: relative;
}
.pogress-child1 span{
    font-size: 18px !important;
    background: none !important;
    color: black !important;
    position: absolute !important;
    top: 41px !important;
    left: 35px !important;
    font-weight: 100 !important;
}
.pogress-child1 p{
    margin-left: 170px !important;
}
.pogress-child1 b{
    position: absolute !important;
    margin-top: -42px !important;
    margin-left: 440px !important;
    color: black;
}
.pogress-child1 .box-blank{
    height: 15px;
    width: 80%;
    background: #b8c8f580;
    position: absolute;
    top: 80px;
    left: 50px;
    border-radius: 10px;
}
.box-blank .box-fill1{
    height: 15px;
    width: 0;
    position: absolute;
    left: 0;
    background: #01e0e7;
    animation-name: prog;
    animation-duration: 4s;
    animation-timing-function: linear;
    border-radius: 10px;
    animation-iteration-count: infinite;
}
@keyframes prog{
    0%{
        width: 0%;
      }
      25%{
          width: 30%;
      }
      50%{
          width: 55%;
      }
      75%{
          width: 75%;
      }
      100%{
          width: 100%;
      }
}
.pogress-child2 span{
    font-size: 18px !important;
    background: none !important;
    color: black !important;
    position: absolute !important;
    top: 107px !important;
    left: 35px !important;
    font-weight: 100 !important;
}
.pogress-child2 p{
    margin-top: 40px !important;
    margin-left: 175px !important;
}
.pogress-child2 b{
    position: absolute !important;
    margin-top: -42px !important;
    margin-left: 440px !important;
    color: black;
}
.pogress-child2 .box-blank{
    height: 15px;
    width: 80%;
    background: #b8c8f580;
    position: relative;
    top: -7px;
    left: 50px;
    border-radius: 10px;
}
.box-blank .box-fill2{
    height: 15px;
    width: 0;
    position: absolute;
    left: 0;
    background: #01e0e7;
    animation-name: prog2;
    animation-duration: 4s;
    animation-timing-function: linear;
    border-radius: 10px;
    animation-iteration-count: infinite;
} 
@keyframes prog2{
    0%{
        width: 0%;
      }
      25%{
          width: 28%;
      }
      50%{
          width: 49%;
      }
      75%{
          width: 78%;
      }
      100%{
          width: 90%;
      }
}
.pogress-child3 span{
    font-size: 18px !important;
    background: none !important;
    color: black !important;
    position: absolute !important;
    top: 175px !important;
    left: 35px !important;
    font-weight: 100 !important;
}
.pogress-child3 p{
    margin-top: 10px !important;
    margin-left: 175px !important;
}
.pogress-child3 b{
    position: absolute !important;
    margin-top: -42px !important;
    margin-left: 440px !important;
    color: black;
}
.pogress-child3 .box-blank{
    height: 15px;
    width: 80%;
    background: #b8c8f580;
    position: absolute;
    top: 213px;
    left: 50px;
    border-radius: 10px;
}
.box-blank .box-fill3{
    height: 15px;
    width: 0;
    position: absolute;
    left: 0;
    background: #01e0e7;
    animation-name: prog3;
    animation-duration: 4s;
    animation-timing-function: linear;
    border-radius: 10px;
    animation-iteration-count: infinite;
} 
@keyframes prog3{
    0%{
        width: 0%;
      }
      25%{
          width: 20%;
      }
      50%{
          width: 40%;
      }
      75%{
          width: 60%;
      }
      100%{
          width: 75%;
      }
}
.pogress-box2{
    position: relative;
    width: 50%;
}
.progress-child4{
    height: 300px;
    width: 50%;
    position: relative;
}
.pogress-child4 span{
    font-size: 18px !important;
    background: none !important;
    color: black !important;
    position: absolute !important;
    top: 41px !important;
    left: 35px !important;
    font-weight: 100 !important;
}
.pogress-child4 p{
    
    margin-left: 170px !important;
}
.pogress-child4 b{
    position: absolute !important;
    margin-top: -42px !important;
    margin-left: 435px !important;
    color: black;
}
.pogress-child4 .box-blank{
    height: 15px;
    width: 80%;
    background: #b8c8f580;
    position: absolute;
    top: 80px;
    left: 50px;
    border-radius: 10px;
}
.box-blank .box-fill4{
    height: 15px;
    width: 0;
    position: absolute;
    left: 0;
    background: #01e0e7;
    animation-name: prog4;
    animation-duration: 4s;
    animation-timing-function: linear;
    border-radius: 10px;
    animation-iteration-count: infinite;
} 
@keyframes prog4{
    0%{
        width: 0%;
      }
      25%{
          width: 10%;
      }
      50%{
          width: 23%;
      }
      75%{
          width: 35%;
      }
      100%{
          width: 45%;
      }
}
.pogress-child5 span{
    font-size: 18px !important;
    background: none !important;
    color: black !important;
    position: absolute !important;
    top: 107px !important;
    left: 35px !important;
    font-weight: 100 !important;
}
.pogress-child5 p{
    margin-top: 40px !important;
    margin-left: 175px !important;
}
.pogress-child5 b{
    position: absolute !important;
    margin-top: -42px !important;
    margin-left: 440px !important;
    color: black;
}
.pogress-child5 .box-blank{
    height: 15px;
    width: 80%;
    background: #b8c8f580;
    position: absolute;
    top: 143px;
    left: 50px;
    border-radius: 10px;
}
.box-blank .box-fill5{
    height: 15px;
    width: 0;
    position: absolute;
    left: 0;
    background: #01e0e7;
    animation-name: prog5;
    animation-duration: 4s;
    animation-timing-function: linear;
    border-radius: 10px;
    animation-iteration-count: infinite;
} 
@keyframes prog5{
    0%{
        width: 0%;
      }
      25%{
          width: 10%;
      }
      50%{
          width: 19%;
      }
      75%{
          width: 27%;
      }
      100%{
          width: 37%;
      }
}
.pogress-child6 span{
    font-size: 18px !important;
    background: none !important;
    color: black !important;
    position: absolute !important;
    top: 175px !important;
    left: 35px !important;
    font-weight: 100 !important;
}
.pogress-child6 p{
    margin-top: 40px !important;
    margin-left: 175px !important;
}
.pogress-child6 b{
    position: absolute !important;
    margin-top: -42px !important;
    margin-left: 440px !important;
    color: black;
}
.pogress-child6 .box-blank{
    height: 15px;
    width: 80%;
    background: #b8c8f580;
    position: absolute;
    top: 213px;
    left: 50px;
    border-radius: 10px;
}
.box-blank .box-fill6{
    height: 15px;
    width: 0;
    position: absolute;
    left: 0;
    background: #01e0e7;
    animation-name: prog6;
    animation-duration: 4s;
    animation-timing-function: linear;
    border-radius: 10px;
    animation-iteration-count: infinite;
} 
@keyframes prog6{
    0%{
        width: 0%;
      }
      25%{
          width: 10%;
      }
      50%{
          width: 20%;
      }
      75%{
          width: 35%;
      }
      100%{
          width: 48%;
      }
}
/*--------- services-section */
#service-section{
    position: relative;
    margin-bottom: 20px;
}
#service-section span{
    font-size: 15px;
    color: #0004ff;
    padding: 8px 20px;
    text-align: center;
    background-color: #8ca4e0a1;
    position: relative;
    top: 35px;
    left: 45%;
    font-weight: 700;
    border-radius: 26px;
    font-family: "Roboto", sans-serif;
}
#service-section h2{
    font-size: 30px;
    position: relative;
    top: 50px;
    margin-left: 37%;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
#service-section p{
    color: #000000af !important;
    font-size: 17px;
    width: 512px;
    text-align: center;
    margin-top: 55px;
    margin-left: 25.5%;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    line-height:25px;
}
#service-section h2 a{
    color: #0004ff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
.service-child1{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    
}
.service-data1{
    position: relative;
    left: 100px;
    width: 25%;
    height: 300px;
    border: 1px solid rgba(0, 0, 255, 0.37);
    border-radius: 10px;
    cursor: pointer;
    transition: linear .3s;
}
.service-data1:hover{
    border: none;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data1 i{
    padding: 20px;
    background: #c4e8f3;
    font-size: 22px;
    color: #0004ff;
    position: absolute;
    top:25px;
    left: 86px;
    transition:  linear .3s ;
}
.service-data1:hover i{
    background: white;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data1 h2{
   font-size: 23px !important;
   font-family: "roboto",sans-serif !important;
   position: absolute !important;
   top: 118px !important; 
   left: -40px !important;
   transition: linear .3s !important;
}
.service-data1:hover h2{
    color: #0004ff;
}
.service-data1 p{
    font-size: 18px !important;
    font-family: "roboto",sans-serif !important;
    position: absolute !important;
    bottom: 11px !important;
    left: 30px !important;
    margin-left: 0 !important;
    width: 180px !important;
    font-weight: 100 !important;
}
.service-data2{
    position: relative;
    width: 25%;
    height: 300px;
    border: 1px solid rgba(0, 0, 255, 0.37);
    border-radius: 10px;
    cursor: pointer;
    transition: linear .3s;
}
.service-data2:hover{
    border: none;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data2 i{
    padding: 20px;
    background:#e4f7ff;
    font-size: 22px;
    color: #0004ff;
    position: absolute;
    top:25px;
    left: 86px;
    transition: linear .3s;
}
.service-data2:hover i{
    background: white;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data2 h2{
    font-size: 23px !important;
    font-family: "roboto",sans-serif !important;
    position: absolute !important;
    top: 108px !important; 
    left: -34px !important;
    text-align: center !important;
    width: 116px !important;
    transition: linear .3s !important;
}
.service-data2:hover h2{
    color: #0004ff;
}
.service-data2 p{
    font-size: 18px !important;
    font-family: "roboto",sans-serif !important;
    position: absolute !important;
    bottom: 11px !important;
    left: 20px !important;
    margin-left: 0 !important;
    width: 200px !important;
    font-weight: 100 !important;

}
.service-data3{
    position: relative;
    right:100px;
    width: 25%;
    height: 300px;
    border: 1px solid rgba(0, 0, 255, 0.37);
    border-radius: 10px;
    transition: linear .3s;
    cursor: pointer;
}
.service-data3:hover{
    border: none;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data3 i{
    padding: 20px;
    background:#e4f7ff;
    font-size: 22px;
    color: #0004ff;
    position: absolute;
    top:25px;
    left: 86px;
    transition:  linear .3s;
}
.service-data3:hover i{
    background: white;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data3 h2{
    font-size: 23px !important;
    font-family: "roboto",sans-serif !important;
    position: absolute !important;
    top: 118px !important; 
    left: -50px !important;
    transition:  linear .3s !important;
}
.service-data3:hover h2{
    color: #0004ff;
}
.service-data3 p{
    font-size: 18px !important;
    font-family: "roboto",sans-serif !important;
    position: absolute !important;
    bottom: 11px !important;
    left: 35px !important;
    margin-left: 0 !important;
    width: 180px !important;
    font-weight: 100 !important;
}
.service-child2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.service-data4{
    position: relative;
    left: 100px;
    width: 25%;
    height: 300px;
    border: 1px solid rgba(0, 0, 255, 0.37);
    transition: linear .3s;
    border-radius: 10px;
    cursor: pointer;
}
.service-data4:hover{
    border: none;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data4 i{
    padding: 20px;
    background: #e4f7ff;
    font-size: 22px;
    color:#0004ff;
    position: absolute;
    top:25px;
    left: 86px;
    transition: linear .3s;
}
.service-data4:hover i{
    background: white;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data4 h2{
   font-size: 23px !important;
   font-family: "roboto",sans-serif !important;
   position: absolute !important;
   top: 118px !important; 
   left: -40px !important;
   transition:  linear .3s !important;
}
.service-data4:hover h2{
    color: #0004ff;
}
.service-data4 p{
    font-size: 18px !important;
    font-family: "roboto",sans-serif !important;
    position: absolute !important;
    bottom: 11px !important;
    left: 20px !important;
    margin-left: 0 !important;
    width: 203px !important;
    font-weight: 100 !important;
}
.service-data5{
    position: relative;
    width: 25%;
    height: 300px;
    border: 1px solid rgba(0, 0, 255, 0.37);
    transition: linear .3s;
    border-radius:10px;
    cursor: pointer;
}
.service-data5:hover{
    border: none;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data5 i{
    padding: 20px;
    background: #e4f7ff;
    font-size: 22px;
    color: #0004ff;
    position: absolute;
    top:25px;
    left: 86px;
    transition: linear .3s;
}
.service-data5:hover i{
    background: white;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data5 h2{
    font-size: 23px !important;
    font-family: "roboto",sans-serif !important;
    position: absolute !important;
    top: 108px !important; 
    left: -34px !important;
    text-align: center !important;
    width: 116px !important;
    transition:linear .3s;
}
.service-data5:hover h2{
    color: #0004ff;
}
.service-data5 p{
    font-size: 18px !important;
    font-family: "roboto",sans-serif !important;
    position: absolute !important;
    bottom: 11px !important;
    left: 20px !important;
    margin-left: 0 !important;
    width: 213px !important;
    font-weight: 100 !important;

}
.service-data6{
    position: relative;
    right:100px;
    width: 25%;
    height: 300px;
    border: 1px solid rgba(0, 0, 255, 0.37);
    cursor: pointer;
    transition: linear .3s;
    border-radius: 10px;
}
.service-data6:hover{
    border: none;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data6 i{
    padding: 20px;
    border: none;
    outline: none;
    background: #e4f7ff;
    color: #0004ff;
    font-size: 22px;
    position: absolute;
    top:25px;
    left: 86px;
    transition: linear .3s;
}
.service-data6:hover i{
    background: white;
    box-shadow: -1px 1px 8px 1px rgb(111, 111, 238);
    border-radius: 10px;
}
.service-data6 h2{
    font-size: 23px !important;
    font-family: "roboto",sans-serif !important;
    position: absolute !important;
    top: 118px !important; 
    left: -30px !important;
    transition: linear .3s !important;
}
.service-data6:hover h2{
    color: #0004ff;
}
.service-data6 p{
    font-size: 18px !important;
    font-family: "roboto",sans-serif !important;
    position: absolute !important;
    bottom: 11px !important;
    left: 20px !important;
    margin-left: 0 !important;
    width: 203px !important;
    font-weight: 100 !important;
    transition: linear .3s !important;
}
/*---------- team-section -----*/
#team-section{
    background: #e5eff3;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.team span{
    font-size: 15px;
    color: #0004ff;
    padding: 8px 20px;
    text-align: center;
    background-color: #8ca4e0a1;
    position: relative;
    top: 35px;
    left: 46.3%;
    font-weight: 700;
    border-radius: 26px;
    font-family: "Roboto", sans-serif;
}
.team h2{
    font-size: 30px;
    position: relative;
    top: 50px;
    margin-left: 34%;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
.team p{
    color: #000000af !important;
    font-size: 17px;
    width: 512px;
    text-align: center;
    margin-top: 55px;
    margin-left: 25.5%;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    line-height:25px;
}
.team h2 a{
    color: #0004ff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
.team-member{
    display: flex;
    width: 92%;
    justify-content: space-between;
    margin-left: 35px;
}
.member1{
    height: 300px;
    width: 23%;
    position: relative;
    background: #ffffff;
    border-radius: 10px;
}
.member1 img{
    position: absolute;
    height: 225px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.member1 a{
    position: relative;
    top: 160px;
    left: 23px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    z-index: -1;
    transition: ease-in .3s;
}
.member1 a i{
    font-size: 19px;
    padding: 10px;
    background: rgba(16, 110, 234, 0.8);
    border-radius: 4px;
}
.member1:hover a{
    z-index: 9;
    margin-top: 10px;
}
.member1 h1{
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 19px;
    font-family: "roboto";
    font-weight: 600;
}
.member1 span{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: #bbb4b4;
    font-family: "roboto";
}
.member2{
    height: 300px;
    width: 23%;
    position: relative;
    background: #ffffff;
    border-radius: 10px;
}
.member2 img{
    position: absolute;
    height: 225px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
}
.member2 a{
    position: relative;
    top: 160px;
    left: 23px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    z-index: -1;
    transition: ease-in .3s;
}
.member2 a i{
    font-size: 19px;
    padding: 10px;
    background: rgba(16, 110, 234, 0.8);
    border-radius: 4px;
}
.member2:hover a{
    z-index: 9;
    margin-top: 10px;
}
.member2 h1{
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 19px;
    font-family: "roboto";
    font-weight: 600;
}
.member2 span{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: #bbb4b4;
    font-family: "roboto";
}
.member3{
    height: 300px;
    width: 23%;
    position: relative;
    background: #ffffff;
    border-radius: 10px;
}
.member3 img{
    position: absolute;
    height: 225px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.member3 a{
    position: relative;
    top: 160px;
    left: 23px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    z-index: -1;
    transition: ease-in .3s;
}
.member3 a i{
    font-size: 19px;
    padding: 10px;
    background: rgba(16, 110, 234, 0.8);
    border-radius: 4px;
}
.member3:hover a{
    z-index: 9;
    margin-top: 10px;
}
.member3 h1{
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 19px;
    font-family: "roboto";
    font-weight: 600;
}
.member3 span{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: #bbb4b4;
    font-family: "roboto";
}
.member4{
    height: 300px;
    width: 23%;
    position: relative;
    background: #ffffff;
    border-radius: 10px;
}
.member4 img{
    position: absolute;
    height: 225px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.member4 a{
    position: relative;
    top: 160px;
    left: 23px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    z-index: -1;
    transition: ease-in .3s;
}
.member4 a i{
    font-size: 19px;
    padding: 10px;
    background: rgba(16, 110, 234, 0.8);
    border-radius: 4px;
}
.member4:hover a{
    z-index: 9;
    margin-top: 10px;
}
.member4 h1{
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 19px;
    font-family: "roboto";
    font-weight: 600;
}
.member4 span{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: #bbb4b4;
    font-family: "roboto";
}
/*---------- faq question */
.faq span{
    font-size: 15px;
    color: #0004ff;
    padding: 8px 20px;
    text-align: center;
    background-color: #8ca4e0a1;
    position: relative;
    top: 35px;
    left: 46.3%;
    font-weight: 700;
    border-radius: 26px;
    font-family: "Roboto", sans-serif;
}
.faq h2{
    font-size: 30px;
    position: relative;
    top: 50px;
    margin-left: 34%;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
.faq p{
    color: #000000af !important;
    font-size: 17px;
    width: 512px;
    text-align: center;
    margin-top: 55px;
    margin-left: 25.5%;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    line-height:25px;
}
.faq h2 a{
    color: #0004ff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
.faq-box{
    margin-top: -45px;
}
.accordion {
    background-color: none;
    color: #444;
    cursor: pointer;
    background: none;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 21px;
    transition: 0.4s;
    margin-top:10px;
    margin-left: 90px;
    font-family: "roboto",sans-serif;
    font-weight: 600;
}
.active, .accordion:hover {
         color: #0004ff;
}
.active, .accordion:hover .active:after{
    color: #0004ff;
}
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;  
}
.active:after {
    content: "\2212";
    color: #0004ff;
} 
.panel {
    padding: 0 18px;
    color: #444;
    width: 70%;
    max-height: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 80px;
    transition: linear .3s;
    font-size: 18px;
    font-family: "roboto",sans-serif;
  }  
/*----- contact section ------*/
#contact-section{
    background: whitesmoke;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.contact span{
    font-size: 15px;
    color: #0004ff;
    padding: 8px 20px;
    text-align: center;
    background-color: #8ca4e0a1;
    position: relative;
    top: 35px;
    left: 45%;
    font-weight: 700;
    border-radius: 26px;
    font-family: "Roboto", sans-serif;
}
.contact h2{
    position: relative;
    top: 45px;
    margin-left: 42.6%;
    color: #0004ff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.contact p{
    color: #000000af !important;
    font-size: 17px;
    width: 512px;
    text-align: center;
    margin-top: 55px;
    margin-left: 25.5%;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    line-height:25px;
}
.contact-parent{
      display: flex;
      justify-content: space-between;
      width:90%;
      margin-left: 45px;
      position: relative;
}
.contact-child1{
    width: 50%;
    margin-left:20px;
}
.child1-data1{
    height: 180px;
    width: 90%;
    position: relative;
    background: white;
    margin-left: 20px;
    transition: linear .3s;
}
.child1-data1:hover{
    box-shadow: -1px 1px 5px 1px gray;
}
.child1-data1 i{
    font-size: 25px;
    position: absolute;
    top:20px;
    left: 45%;
    padding: 13px;
    color: #0004ff;
    border: 2px dotted #0004ff;
    border-radius: 50%;
}
.child1-data1 h1{
    position: absolute;
    top: 92px;
    left: 35%;
    font-size: 23px;
    font-weight: 700;
}
.child1-data1 span{
    position: absolute;
    bottom: 26px;
    left: 15.5%;
    font-size: 16px;
    text-align: center;
    color: gray;
}
#map{
    height: 350px;
    width: 90%;
    position: relative;
    top: 20px;
    left: 20px;
}

.contact-child2{
    display: flex;
    width: 50%;
    
}
.child2-data1{
    height: 180px;
    width: 45%;
    position: relative;
    background: white;
    display: block;
    transition:linear .3s;
}
.child2-data1:hover{
    box-shadow: -1px 1px 5px 1px gray;
}
.child2-data1 i{
    font-size: 25px;
    position: absolute;
    top:20px;
    left: 34.5%;
    padding: 13px;
    color: #0004ff;
    border: 2px dotted #0004ff;
    border-radius: 50%;
}
.child2-data1 h1{
    position: absolute;
    top: 85px;
    left: 27%;
    font-size: 23px;
    font-weight: 700;
}
.child2-data1 span{
    position: absolute;
    bottom: 30px;
    left: 11%;
    font-size: 16px;
    text-align: center;
    color: gray;
}
.child2-data2{
    height: 180px;
    width: 45%;
    position: relative;
    background: white;
    margin-left: 20px;
    display: block;
    transition:linear .3s;
}
.child2-data2:hover{
    box-shadow: -1px 1px 5px 1px gray;
}
.child2-data2 i{
    font-size: 25px;
    position: absolute;
    top:20px;
    left: 37%;
    padding: 13px;
    color: #0004ff;
    border: 2px dotted #0004ff;
    border-radius: 50%;
}
.child2-data2 h1{
    position: absolute;
    top: 85px;
    left: 29.5%;
    font-size: 23px;
    font-weight: 700;
}
.child2-data2 span{
    position: absolute;
    bottom: 30px;
    left: 15.5%;
    font-size: 16px;
    text-align: center;
    color: gray;
}
.contact-child2 form{
    position:absolute;
    top: 210px;
    right: 25px;
    height: 280px;
    width: 46.5%;
    background: white;
    transition: linear .3s;
}
.contact-child2 form:hover{
    box-shadow: -1px 1px 5px 1px gray;
}
input[type="text"]{
    height: 45px;
    width: 43%;
    position: relative;
    top: 25px;
    left: 20px;
    outline: none;
    border: 1px solid gray;
    padding-left: 20px;
}
input[type="email"]{
    height: 45px;
    width: 43%;
    position: relative;
    top: 25px;
    right: -30px;
    outline: none;
    border: 1px solid gray;
    padding-left: 20px;
}
input[type="subject"]{
    height: 45px;
    width: 89.5%;
    position: relative;
    top: 55px;
    left: 20px;
    outline: none;
    border: 1px solid gray;
    padding-left: 20px;
}
textarea{
    height: 100px;
    width: 89.5%;
    position: relative;
    top: 80px;
    left: 20px;
    border: 1px solid gray;
    outline: none;
    padding-left: 20px;
}
.contact-child2 form button{
    height: 45px;
    width: 100px;
    background: #0004ff;
    position:relative;
    top:90px;
    left: 160px;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: linear .3s;
}
.contact-child2 form button:hover{
    background: #4d50ff;
}
/*---- subscribe-section ----*/
.subscribe{
    height: 220px;
    width:100%;
    background: #00b8ff21;
    position: relative;
}
.subscribe h1{
    font-size: 26px;
    font-family: "roboto",sans-serif;
    text-align: center;
    font-weight: 700;
    padding-top: 35px;
    color: rgb(116, 103, 103);
}
.subscribe p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    position: absolute;
    left: 240px;
    width: 500px;
    color: rgb(158, 158, 158);
}
.subscribe input[type="text"]{
    width: 336px;
    height: 48px;
    position: absolute;
    top: 135px;
    left: 282px;
    outline:none;
    border: none;
}
.subscribe button{
    width: 100px;
    height: 48px;
    position: absolute;
    top: 135px;
    left: 563px;
    outline: none;
    border: none;
    background: #0004ff;
    color: white;
    transition: linear .3s;
}
.subscribe button:hover{
     background: #01e0e7;
     color: black;
}
/* link-section -------*/
.link-section{
    display: flex;
    justify-content:center;
}
.link-child1{
    height: 250px;
    width: 220px;
    position: relative;
}

.link-child1 h2{
          position: absolute;
          top: 30px;
          left: 25px;
          font-size: 19px;
          font-family: sans-serif;
          font-weight: 600;
}
.link-child1 p{
    position: absolute;
    top: 75px;
    left: 25px;
    width: 160px;
    font-size: 14px;
    font-family:"roboto", sans-serif;
    color: gray;
}
.link-child1 span{
    position: absolute;
    top: 155px;
    left: 25px;
    width: 173px;
    font-size: 14px;
    font-family: "roboto", sans-serif;
    color: gray;
}
.link-child1 span b{
  color: rgb(58, 56, 56);
}
.link-child2{
    height: 250px;
    width: 220px;
    position: relative;
}
.link-child2 h2{
    position: absolute;
    top: 30px;
    left: 25px;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
}
.link-child2 ul{
    position:absolute;
    top: 58px;
    left: 5px;
    list-style:">";
    font-size: 15px;
    color: #0004ff;
    font-weight: 900;
}
.link-child2 ul li a{
    text-decoration: none;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 100;
    color: gray;
    line-height: 2;
    transition: linear .3s;
}
.link-child2 ul li a:hover{
    color: #0004ff;
}
.link-child3{
    height: 250px;
    width: 220px;
    position: relative;
}
.link-child3 h2{
    position: absolute;
    top: 30px;
    left: 25px;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
}
.link-child3 ul{
    position:absolute;
    top: 58px;
    left: 5px;
    list-style:">";
    font-size: 15px;
    color: #0004ff;
    font-weight: 900;
}
.link-child3 ul li a{
    text-decoration: none;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 100;
    color: gray;
    line-height: 2;
    transition: linear .3s;
}
.link-child3 ul li a:hover{
    color: #0004ff;
}
.link-child4{
    height: 250px;
    width: 220px;
    position: relative;
}
.link-child4 h2{
    position: absolute;
    top: 30px;
    left: 25px;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
}
.link-child4 p{
    position: absolute;
    top: 75px;
    left: 25px;
    width: 160px;
    font-size: 14px;
    font-family:"roboto", sans-serif;
    color: gray;
}
.link-child4 .icon{
    position: absolute;
    top: 180px;
    display: flex;
    justify-content: space-between;  
}
.link-child4 .icon a i{
    margin-left: 6px;
    font-size: 14px;
    padding: 12px 13px;
    background: #0004ff;
    color: white;
    border-radius: 7px;
    transition: linear .3s;
}
.link-child4 .icon a i:hover{
    background: #01e0e7;
    color: black;
}
/*---------- footer-section */
.footer{
    height: 65px;
    width: 100%;
    position: relative;
    bottom: 0;
    background: #d4e5ff;
    margin-bottom: 0;
    display: flex;
}
.footer span{
     font-size: 17px;
     font-family: sans-serif;
     font-weight: 400;
     color: #8d8484;
     padding-top: 15px;
     padding-left: 25px;
}
.footer p{
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 400;
    color: #8d8484;
    position: absolute;
    right: 20px;
    padding-top: 15px;
    padding-left: 25px;
}